{% extends 'base.html' %}
{% block content  %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Bienvenido a Leco Shop</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><br>
                <p aling="justify"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas saepe rerum velit, excepturi fugit amet facere dolor minus veritatis! Distinctio cupiditate dolores inventore deserunt eveniet iure cumque culpa repellendus voluptatibus! <br><br> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas saepe rerum velit, excepturi fugit amet facere dolor minus veritatis! Distinctio cupiditate dolores inventore deserunt eveniet iure cumque culpa repellendus voluptatibus! <br><br> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas saepe rerum velit, excepturi fugit amet facere dolor minus veritatis! Distinctio cupiditate dolores inventore deserunt eveniet iure cumque culpa repellendus voluptatibus!<br><br>  </p>
            </div>
        </center>
    </div>
</div>

{% endblock %}