{% extends 'base.html' %}
{% block content  %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder"><span style="color: #0D6EFD">N</span>osotros</h1>
            <p class="lead fw-normal text-white-50 mb-0">Bienvenido a Tecno Shop</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><br>
                <p aling="justify"><header>
                    <h1></h1>
                </header>
                <br><br>
                <section>
                    <h2>Nuestra Historia</h2>
                    <p>Desde nuestros humildes comienzos, nos hemos dedicado a ofrecer a nuestros clientes lo mejor en tecnología móvil. Fundada en 2024, Tecno Shop surgió con la visión de proporcionar una plataforma donde los entusiastas de la tecnología puedan encontrar todo lo que necesitan en un solo lugar. A lo largo de los años, hemos crecido y nos hemos expandido, pero nuestra pasión por la innovación y la excelencia sigue siendo la misma.</p>
                </section>
                <br><br>
                <section>
                    <h2>Nuestra Misión</h2>
                    <p>En Tecno Shop, nuestra misión es simple: llevar la tecnología del mañana a tus manos hoy. Nos esforzamos por ofrecer una amplia selección de los últimos modelos de teléfonos inteligentes, accesorios imprescindibles y dispositivos electrónicos innovadores, todo ello a precios competitivos. Creemos que cada cliente merece lo mejor, y trabajamos incansablemente para superar tus expectativas en cada compra.</p>
                </section>
                <br><br>
                <section>
                    <h2>Lo que Ofrecemos</h2>
                    <p>Desde los últimos lanzamientos de teléfonos inteligentes hasta accesorios elegantes y dispositivos electrónicos emocionantes, en Tecno Shop encontrarás todo lo que necesitas para mantenerte conectado y preparado para el futuro. Nuestro catálogo incluye una amplia variedad de productos de marcas de renombre y fabricantes líderes en la industria, para que puedas elegir según tus necesidades y preferencias.</p>
                </section>
                <br><br>
                <section>
                    <h2>Nuestro Compromiso</h2>
                    <p>En Tecno Shop, la satisfacción del cliente es nuestra máxima prioridad. Nos comprometemos a proporcionarte una experiencia de compra sin problemas, desde la navegación fácil de usar de nuestro sitio web hasta la entrega rápida y confiable de tus productos. Nuestro equipo de atención al cliente está aquí para ayudarte en cada paso del camino, respondiendo a tus preguntas y brindándote el soporte que necesitas.</p>
                </section>
                <br><br>
                <section>
                    <h2>Únete a Nosotros</h2>
                    <p>Descubre por qué Tecno Shop es el destino preferido para los entusiastas de la tecnología de todo el mundo. Explora nuestro catálogo hoy mismo y déjanos ser tu compañero confiable en el emocionante mundo de la tecnología móvil y electrónica.</p>
                    <p>¡Gracias por elegir Tecno Shop!</p>
                </section>
             <br><br></p>
            </div>
        </center>
    </div>
</div>

{% endblock %}