{% extends 'base.html' %}
{% block content  %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder"><span style="color: #0D6EFD">C</span>ontacto</h1>
            <p class="lead fw-normal text-white-50 mb-0">Contactate con nosotros.</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br><br><br>
                <ul class="list-unstyled list-inline">
                    <h2>Redes</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus at recusandae eveniet quo. Amet harum numquam dolore atque repellat quam tenetur, praesentium ex dignissimos aliquam laborum natus, molestias culpa ipsam?</p>
                    <li class="list-inline-item">
                        <a href="#" class="btn-floating btn-sm text-dark" style="font-size: 40px;"> <i class="fab fa-facebook"></i> </a>
                    </li>
                    &nbsp;
                    <li class="list-inline-item">
                        <a href="#" class="btn-floating btn-sm text-dark" style="font-size: 40px;"> <i class="fab fa-twitter"></i> </a>
                    </li>
                    &nbsp;
                    <li class="list-inline-item">
                        <a href="#" class="btn-floating btn-sm text-dark" style="font-size: 40px;"> <i class="fab fa-linkedin"></i> </a>
                    </li>
                    &nbsp;
                    <li class="list-inline-item">
                        <a href="#" class="btn-floating btn-sm text-dark" style="font-size: 40px;"> <i class="fab fa-youtube"></i> </a>
                    </li>
                </ul>
                <br><br>
                <hr>
                
                <p aling="justify"><header>
                    <h1></h1>                    
                </header>
                <br><br>
                <section>
                    <h2>Direccion</h2>
                    <p>Podes Encontrar Nuestro Local 20km del dentro de la Capital Argentina, En Banfield, Lomas de zamora, Buenos Aires.</p>
                    <p>
                        <i class="fas fa-home mr-3"> </i> Direccion: Belgrano 1981, Banfield.
                    </p>
                    <br><br>
                    <hr>
                </section>
                <section>
                    <h2>Mapa</h2>
                    <p>En Tecno Shop, la satisfacción del cliente es nuestra máxima prioridad. Nos comprometemos a proporcionarte una experiencia de compra sin problemas, desde la navegación fácil de usar de nuestro sitio web hasta la entrega rápida y confiable de tus productos. Nuestro equipo de atención al cliente está aquí para ayudarte en cada paso del camino, respondiendo a tus preguntas y brindándote el soporte que necesitas.</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3278.696473479604!2d-58.3931013235535!3d-34.738044464605835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccd5f14f4ded7%3A0xced372f5c0fbdc12!2sBelgrano%201981%2C%20B1828ACU%20Banfield%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1717427078499!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </section>
                <br><br>
                <section>
                    <h2>Telefono</h2>
                    <p>En Tecno Shop, nuestra misión es simple: llevar la tecnología del mañana a tus manos hoy. Nos esforzamos por ofrecer una amplia selección de los últimos modelos de teléfonos inteligentes, accesorios imprescindibles y dispositivos electrónicos innovadores, todo ello a precios competitivos. Creemos que cada cliente merece lo mejor, y trabajamos incansablemente para superar tus expectativas en cada compra.</p>
                    <p>
                        <i class="fas fa-phone mr-3"> </i> Telefono fijo: +011 4242 2600
                    </p>
                    <p>
                        <i class="fas fa-print mr-3"> </i> Whatsapp: +54 156 222 8979
                    </p>
                    <br><br>
                    <hr>
                </section>
                <br><br>
                <section>
                    <h2>Escribinos</h2>
                    <p>Envianos un Correo electronico con tus dudas a:</p>
                    <p>
                        <i class="fas fa-envelope mr-3"> </i> Tecnoshop@gmail.com
                    </p>
                    <br><br>
                    <hr>
                </section>
                <br><br>
                
            </p>
                      
             <br><br>
             
             <br><br>
            </div>
        </center>
    </div>
</div>

{% endblock %}